.container{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.topImage{
  width: 100%;
}

.websiteTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.introduction{
  font-family: 'Times New Roman', Times, serif;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.imageInCard{
  width: 100%;
  cursor: pointer;
}
